body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a8dadc;
    color: #e63946;
    width: 100%;
    margin: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#nav {
    overflow: hidden;
    background-color: #06044d;
  }
  
#nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    /* padding: 0;
    margin: 0;
    width: 100%; */
}

header a:hover {
    color: #FAFAFA;
}

header a {
    color: #e63946;
    text-decoration: none;
}

#main-content {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-section {
    text-align: center;
    margin: 20px 0;
}

#location-list {
    text-align: center;
    margin: 20px 0;
}

.city-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.city-section {
    background-color: #f1faee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px;
}

.city-details img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.city-details p,
.city-details address {
    text-align: center;
    margin: 0 0 10px 0;
}

#footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0;
    background-color: #06044d;
    color: #FAFAFA;
    border: #FAFAFA 2px solid;
}

.horizontal-line, .vertical-line {
    position: absolute;
    background-color: #FAFAFA;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    top: 50%;
}

.vertical-line {
    height: 100%;
    width: 2px;
    left: 50%;
}

.footer-section {
    position: absolute;
    width: 45%;
}

.footer-section img {
    width: 40px;
    height: 40px;
}

.footer-section.top-left {
    top: 10px;
    left: 10px;
}

.footer-section.top-right {
    top: 10px;
    right: 10px;
    text-align: right;
}

.footer-section.bottom-left {
    bottom: 10px;
    left: 10px;
}

.footer-section.bottom-right {
    bottom: 10px;
    right: 10px;
    text-align: right;
}

.footer-content a {
    text-decoration: none;
    color: #FAFAFA;
}

@media (max-width: 768px) {
    #main-content {
        width: 95%;
    }

    .footer-section img {
        width: 30px;
        height: 30px;
    }

    .footer-section p {
        font-size: 14px;
    }

    .footer-section a {
        font-size: 14px;
    }

    .footer-section {
        width: 100%;
    }

    .footer-section.top-left, .footer-section.top-right, 
    .footer-section.bottom-left, .footer-section.bottom-right {
        width: 48%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5em 0;
    }

    main.main-content {
        padding: 1em;
    }
}
