main{
    text-align: center;
}

main a{
    color: #e63946;
    text-decoration: none;
}

main a:hover {
    color: #FAFAFA;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a8dadc;
}

header a {
    color: #e63946;
    text-decoration: none;
}

header a:hover {
    color: #FAFAFA;
}

ul{
    color: #f1faee;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
