body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a8dadc;
    color: #e63946;
}
ul{
    color: #f1faee;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
header a:hover {
    color: #FAFAFA;
}
header a {
    color: #e63946;
    text-decoration: none;
}
#devs{
    background-color: #457b9d;
}
#devs img{
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}
#devs img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 0.7s ease;
}
#manoelSection{
    display: none;
    float:right;
}
#percySection{
    display:none;
    float:center;
}
#alexSection{
    display:none;
    float:left;
}
#percyPhoto{
    border-radius: 18px;
}
#devs button{
    padding: 0;
    border: none;
    background: none;
    
}



#manoelPart{
    color:#f1faee;
}
#percyPart{
    color:#f1faee;
}
#alexPart{
    color:#f1faee;
    float:left;
}
